<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>V-FOR VueJS</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.0/vue.js"></script>
    <script src="js/v-for.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
<div id="app">
    <ul>
        <li v-for="(ingredient,i) in ingredients">{{ i }}.{{ ingredient}}</li>
    </ul>
    <ul>
        <li v-for="person in persons">
            {{ person.name }} + {{ person.age }} + {{ person.color }}
        </li>
    </ul>
    <template v-for="(ingredient,index) in ingredients">
        <h1>{{ index }} : {{ ingredient }}</h1>
        <!--{{ console.log(ingredients) }}-->
    </template>
    <button @click="ingredients.push('spice')" :key="ingredients">Add New</button>


    <template v-for="person in persons">
        <ul>
            <li v-for="(value, key, i) in person" :key="value.i">{{ i }} {{ key }} : {{ value }}</li>
        </ul>
    </template>

    <!--<template v-for="(n,i) in 10">-->
        <!--<ul>-->
            <!--<li>({{i}}){{ n }}</li>-->
        <!--</ul>-->
    <!--</template>-->

    <!--<template>-->
        <!--<ul>-->
            <!--<li v-for="item in items" :key="item.id">{{ item }}</li>-->
        <!--</ul>-->
    <!--</template>-->
</div>
</body>
</html>