@import "__color";
@import "__font";

* {
	box-sizing: border-box;

	body {
		/***** NAV *****/
		nav {
			background-color: #ffffff;
			border-bottom: 1px solid $colorTwo;
			div.nav-wrapper {
				font-family: $fontPrimary;
				a {
					display: inline-block;
					font-size: 1.68rem;
					color: $colorThree;
					span {
						font-size: 6rem;
						font-weight: 200;
					}
				}
			}
		}


		/***** BANNER *****/
		div#index-banner {
			.container {
				h3 {
					color: $colorTwo;
					font-family: 'Helvetica Neue', 'Lato', 'Roboto Mono for Powerline', sans-serif;
					span {
						font-size: 1rem;
						position: relative;
						top: 0.5rem;
						left: 0.2rem;
					}
				}

				.row {
					.col {
						
					}
					.s4 {
						.collection {
							border: none;
							.collection-item {
								font-family: 'Helvetica Neue', 'Lato', 'Roboto Mono for Powerline', sans-serif;
								font-size: 1.08rem;
								cursor: pointer;
								border-bottom-right-radius: 16px;
								&:hover{
									background-color: $colorTwo;
								}
								transition: background-color 1.6s ease;
							}
						}
					}
					.s8 {

					}
					#article {
						.col {

						}

						.s6{
							h5 {
								text-indent: 1.11rem;
								font-family: 'Lato',sans-serif;
								font-weight: bold;
								text-align: center;
							}
							p {
								text-indent: 0.8rem;
								font-size: 0.8rem;
							}
						}

						.s6 {
							img{
								width: 100%;
								height: 120%;
							}
						}
					}
				}

				.center {

				}
			}
		}

		
		/***** CONTAINER *****/
		div.container {
			
		}



		/***** PARALLAX-CONTAINER *****/
		div.parallax-container {

		}

		
		/***** FOOTER *****/
		footer {
			.container {

			}

			.footer-copyright {

			}
		}



	}	
}

