section .row-top .row {
font-family: "Comic Sans MS" , sans-serif;
font-weight: bold;
}
section .row-top .row .col-sm-5 h2 {
font-family: "Open Sans" , sans-serif;
color: #FDA767;
padding: 8px;
text-align: center;
border-radius: 4px;
transition: all 1.5s ease-in-out;
font-size: 1.2em;
}

section .row-top .row .col-sm-5 h2:hover {
background-color: #FDA767;
color: white;
cursor: pointer;
}

section .row-top .row .col-sm-5 {
border-radius: 5px;
}

section .row-top .row .col-sm-5 h5 {
text-transform: uppercase;
}

section .row-top .row .col-sm-5 .btn {
width: 100%;
border-radius: 8px;
margin-bottom: 2px;
transition: 1.5s all ease-in-out;
}

section .container .col-md-9 .col-sm-5 .clear {
  clear: both;
}
section .container .col-md-9 .col-sm-5 h2 {
}
section .container .col-md-9 .col-sm-5 h4 {
  font-family: 'Comic Sans MS' , sans-serif !important;
  font-size: 0.9em;
  float: right;
  padding-right: 15px;
  font-style: italic;
}

section .container .col-md-9 .col-sm-5 p {
  font-size: 0.88em;
  text-indent: 12px;
  line-height: 1.4em;
}
section .container .col-md-9 .col-sm-5 span {
  margin-left: 5px;
  font-size: 0.68em;
}
section .container .col-md-9 .col-sm-5 a {
  color: red;
  text-transform: uppercase;
}

section .row-top .row .col-sm-5 .div-btn-first {
background-color: #E50E0A;
}
section .row-top .row .col-sm-5 .div-btn-first:hover {
background-color: #ffffff;
color: #E50E0A;
border-radius: 8px;
border-color: #E50E0A;
border: 0.5px solid;
}
section .row-top .row .col-sm-5 .div-btn-second {
background-color: #FDA767;
}
section .row-top .row .col-sm-5 .div-btn-second:hover {
background-color: #ffffff;
color: #FDA767;
border-radius: 8px;
border-color: #FDA767;
border: 0.5px solid;
}
section .row-top .row .col-sm-5 .div-btn-third {
background-color: #5EB656;
}
section .row-top .row .col-sm-5 .div-btn-third:hover {
background-color: #ffffff;
color: #5EB656;
border-radius: 8px;
border-color: #5EB656;
border: 0.5px solid;
}
.right-col-des {
  padding: 10px;
  line-height: 1.4em;
}
.right-col-des h5 {
  padding-right: 20px;
  width: 100%;
  border-bottom: 1px solid green;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 15px;
}
.right-col-des .clear {
  clear: both;
}
.right-col-des span {
  color: red;
}
.right-col-des #span-xt {
  margin-left: 10px;
}
.right-col-des a {
  color: red;
}
.right-col-des a::after {
  content: " ...";
}

.row-bottom {
    font-family: "Roboto" , "Helvetica Neue" , sans-serif;
    vertical-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.row-bottom h3 {
	font-size: 1.2em;
    color: red;

}
.row-bottom h3 span {
    font-size: 0.6em;
    padding-left: 10px;
    text-transform: uppercase
}

.row-bottom p {
	font-size: 1.2em;
    margin: 0px auto;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Helvetica Neue' , sans-serif;
}
.row-bottom img {
    height: 200px;
    margin: 0px auto;
}
/* SlideShow CSS*/
.mySlides {display:none}