* {
	box-sizing: border-box;
}

/* RESET SETTING */
html,body,div,span,h1,h2,h3,h4,h5,h6,a,em,blockquote,font,img,small,strike,strong,b,u,i,center {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-size: 62.5%;
	line-height: 1;
}

ol , ul {
	list-style: none;
}

/* remember to define focus style !*/
:focus {
	outline: 0;
}

a img {
	border: none;
}

/* END RESET */

/* MAIN SETTING*/