@charset "utf-8";
/* CSS Document */

.adtech-boxtest-wrapper {
	width: 333px;
	padding-right: 50px;
	position: relative;
	padding-top: 15px;
	border-top: 3px solid #bb3914;
	height: 114px;
	overflow: hidden;
    margin-top: 15px;
}

.abws-thumb {
	display: block;
	width: 182px;
	height: 114px;
	overflow: hidden;
	margin-right: 12px;
	float: left;
}

.abws-thumb img {
	display: block;
	width: 100%;
}

.abws-title a {
	font-size: 15px;
	line-height: 18px;
	color: #333;
	font-weight: bold;
	text-decoration: none;
}

.abws-title a:hover {
	color: #bb3914;
}

.abws-navigation {
	width: 36px;
	position: absolute;
	top: 15px;
	right: 0;
}

.abw-slider {
	height: 114px !important;
	overflow: hidden;
}

.abws-navigation {
	border: 1px solid #c5c5c5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	overflow: hidden;
}

.abws-prev, .abws-next {
	height: 38px;
	background-image:linear-gradient(#fff, #e3e3e3);
	position: relative;
	cursor: pointer;
}

.abws-prev:hover, .abws-next:hover {
	background-image:linear-gradient(#fff, #efefef);
}

.abws-prev.swiper-button-disabled, .abws-next.swiper-button-disabled {
	background: #fff;
}

.abws-prev.swiper-button-disabled:before {
	border-bottom-color: #ddd;
}

 .abws-next.swiper-button-disabled:before {
	 border-top-color: #ddd;
 }

.abws-prev:before {
	display: block;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;	
	border-bottom: 7px solid #777;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -6px;
	margin-top: -3px;
	content: '';
}

.abws-next:before {
	display: block;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;	
	border-top: 7px solid #777;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -6px;
	margin-top: -3px;
	content: '';
}

.abws-pagination {
	height: 34px;
	border-top: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	font-size: 14px;
	font-weight: bold;
	color: #555;
	text-align: center;
	line-height: 34px;
	background: #fff;
}

