.main-menu {
	margin: 15px auto;
	padding: 5px;
	border: 1px dotted #ddd;
	text-align: center;
	text-transform: none;
}

.main-menu > a {
																	margin: 15px;
	font-style: Georgia;
	font-size: 1.5em;
	font-weight: 500;
	text-decoration: none;
}

.main-menu a:link , a:visited {
	color: #ddd;
}

.main-menu a:hover, a:active {
	color: black;
}
